/* Widht */
$width1: 420px;
$widht2: 380px;
$widht3: 400px;
$width4: 270px;
$width5: 900px;
$width6: 24px;

/* Height */
$height1: 450px;
$height2: 290px;
$height3: 400px;
$height4: 250px;
$height5: 24px;
